@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* =================
    UTILITIES
================= */
ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

li {
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 18px;
}

.flex {
    display: flex;
}

/* =================
    NAV BAR
================= */
header {
    display: flex;
    justify-content: space-between;

    padding: 0 10%;
    height: 50px;
    background-color: #042331;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    height: 80%;
    border-radius: 50%;
    margin: 0 10px;
}

.logo h2 {
    color: white;
}

/* =================
    Content
================= */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

main.table {
    width: 80%;
    height: auto;
    background-color: #FFF;
    /*backdrop-filter: blur(7px);*/
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
    margin: 2rem 0;
  }
  .table_header {
    height: 10%;
    background-color: #042331;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFF;
    padding: 0.8rem 1rem;
  }
  .table_body {
    width: 95%;
    max-height: calc(89% - 0.8rem);
    background-color: #fffb;
  
    margin: 0.8rem auto;
    border-radius: 0.6rem;
    overflow: scroll;
   
  }
  .table_body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  .table_body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  .table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  .table_body table{
    width: 100%;
  }

  td img {
    width: 64x;
    height: 128px;
    margin: 34px;
  
    vertical-align: middle;
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
  }
  
  td {
    text-align: center;
  }

  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #042331;
    color: #FFF;
  }
  
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  tbody tr:hover {
    background-color: #fff6;
  }
  .hidden {
    display: none;
    visibility: hidden;
  }

  .action{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr)
  }

  .join-button{
    margin-right: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .cancel-button{
    grid-row: 1/2;
    grid-column: 2/2;
  }
  .payment-button{
    margin-top: 10px;
    grid-row: 2/2;
    grid-column: span 2;
  }