<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/DHome.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <header><%=  %></header>
      <ul>
          <li><a href="/DAppointment"><i class="fas fa-qrcode"></i>Appointment</a></li>
          <li><a href="/DOnlineConsult"><i class="fas fa-stream"></i>Online Consultation</a></li>
          <li><a href="/DHistory"><i class="fas fa-calendar-week"></i>History</a></li>
          <li><a href="/DoctorInfo"><i class="fas fa-question-circle"></i>Doctor Information</a></li>
          <div class="space"></div>
          <li><a href="#"><i class="fas fa-sliders-h"></i>My Account</a></li>
          <li><a href="/"><i class="fas fa-envelope"></i>Logout</a></li>
      </ul>
  </div>

    <% doctors.forEach((doctor) => { %>
    <h3>Welcome <%= doctor.fullName %></h3>
    <% }) %>
    <div class="center">
      <input
        type="submit"
        value="Appointment Schedule"
        onclick="document.location= './DAppointment' "
      />
      <br />
      <input
        type="submit"
        value="Online Appointment Schedule"
        onclick="document.location= './DOnlineConsult' "
      />
      <br />
      <input
        type="submit"
        value="History"
        onclick="document.location= './DHistory' "
      />
      <br />
      <input
        type="submit"
        value="Doctor Information"
        onclick="document.location= './DoctorInfo' "
      />
    </div>
  </body>
</html>
