<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/phome.css" />
  </head>
  <body>
    <div class="sidebar">
      <header><%= patientName %></header>
      <ul>
          <li><a href="/PAppointment"><i class="fas fa-qrcode"></i>Appointment</a></li>
          <li><a href="/POnlineConsult"><i class="fas fa-stream"></i>Online Consultation</a></li>
          <li><a href="/myappointment"><i class="fas fa-calendar-week"></i>My Appointment</a></li>
          <li><a href="/history"><i class="fas fa-question-circle"></i>History</a></li>
          <div class="space"></div>
          <li><a href="/MyAccount"><i class="fas fa-sliders-h"></i>My Account</a></li>
          <li><a href="/"><i class="fas fa-envelope"></i>Logout</a></li>
      </ul>
  </div>

    <div class="center">
      <input
        type="submit"
        value="Online Consultation"
        onclick="document.location= './POnlineConsult' "
      />
      <br />
      <input
        type="submit"
        value="Make an Appointment"
        onclick="document.location= './PAppointment' "
      />
      <br />
      <input
        type="submit"
        value="My Appointment"
        onclick="document.location= './myappointment' "
      />
      <br />
      <input
        type="submit"
        value="My History"
        onclick="document.location= './history' "
      />
    </div>
    
  </body>
</html>
