<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Consultation</title>
    <link rel="stylesheet" href="/PConsult.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="sidebar">
      <header><%= patientName %></header>
      <ul>
          <li><a href="/Phome"><i class="fas fa-qrcode"></i>Dashboard</a></li>
          <li><a href="/PAppointment"><i class="fas fa-link"></i>Appointment</a></li>
          <li><a href="/myappointment"><i class="fas fa-calendar-week"></i>My Appointment</a></li>
          <li><a href="/history"><i class="fas fa-question-circle"></i>History</a></li>
          <div class="space"></div>
          <li><a href="/MyAccount"><i class="fas fa-sliders-h"></i>My Account</a></li>
          <li><a href="/"><i class="fas fa-envelope"></i>Logout</a></li>
      </ul>
  </div>

    <div class="center">
      <input type="text" name="dateTime" class="hidden" id="datetime">
      <form
        action="/POnlineConsult"
        method="post"
        enctype="multipart/form-data"
        id="myForm"
      >
        <h1>Online Consultation Appointment</h1>
        <div class="image">
          <img src="/dentist.png" alt="Error" />
        </div>
        <% doc.forEach((doctor) => { %>
        <div class="doctor"><%= doctor.full_name %></div>
        <div class="doctor">₱<%= doctor.fee %></div>
        <% }) %>
        <div class="txt_field">
          <input id="datetime" name="date" class="date" id="date" required />
          <label>Date</label>
        </div>
        <div class="time">
          <div class="time-schedule">
            <input type="radio" name="time" id="time" value="8am" class="times">
            <label >8am - 9am</label>
          </div>
          <div class="time-schedule">
            <input type="radio" name="time" id="time" value="10am">
            <label for="2nd">10am - 11am</label >
          </div>
          <div class="time-schedule">
            <input type="radio" name="time" id="time" value="12pm">
            <label for="3rd">12pm - 1pm</label >
          </div>
          <div class="time-schedule">
            <input type="radio" name="time" id="time" value="2pm">
          <label for="4th">2pm - 3pm</label >
          </div>
          <div class="time-schedule">
            <input type="radio" name="time" id="time" value="4pm">
            <label for="5th">4pm - 5pm</label >
          </div>
        </div>
        <div class="txt_field">
          <input type="text" name="description" required />
          <label>Chief Complain</label>
        </div>
        <input type="submit" value="Submit"/>
      </form>
    </div>

    <script>
      flatpickr("#datetime", {
        enableTime: false,
        dateFormat: "Y-m-d",
        minDate: "today",
        maxDate: new Date().fp_incr(14), // 14 days from now
        //minTime: "08:00",
        //maxTime: "17:00"
      });
      document
        .getElementById("myForm")
        .addEventListener("submit", function (event) {
          alert('Online Consulation appointment successfully')
      })
    </script>
  </body>
</html>
